@font-face {
    font-family: lora-regular;
    src: url(../landing-page/fonts/Lora/static/Lora-Regular.ttf);
}

@font-face {
    font-family: lora-bolditalic;
    src: url(../landing-page/fonts/Lora/static/Lora-BoldItalic.ttf);
}

@font-face {
    font-family: lora-italic;
    src: url(../landing-page/fonts/Lora/static/Lora-Italic.ttf);
}

@font-face {
    font-family: lora-bold;
    src: url(../landing-page/fonts/Lora/static/Lora-Bold.ttf);
}

/* body set to flex column to stack content. Height set to 100vh to expand the legth of the page. Margin of 0px because there was a white line. Font size set to 18px default. */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family: lora-regular, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* Linear gradients is a good way to make background color feel more dynamic as oppose to setting the color to one color. width of 100vw to take up the entire viewport. */
header {
    background: linear-gradient(to bottom right, #618d56, #709a61, #82a96e, #8fb478, #92b67a, #97ba7e, #9bbe82, #a3c587, #b0d091, #b8d697, #b9d798, #cae6a5);
    padding-bottom: 5vh;
    width: 100vw;
}

/* main section set to flex columns and aligned to center. */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* display flex and aligned content in the center. width at 100vw to take up the whole viewport. Added a color gradient to make background color more dynamic. */
footer {
    display: flex;
    background: linear-gradient(to bottom right, #618d56, #709a61, #82a96e, #8fb478, #92b67a, #97ba7e, #9bbe82, #a3c587, #b0d091, #b8d697, #b9d798, #cae6a5);
    width: 100vw;
    align-self: center;
    justify-content: center;
    color: #f9faf8;
}

/* text decorations set to none to remove underline */
a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 20px;
}

/* list-style: none to remove underline. Display:flex to line up links into a row. */
ul {
    list-style: none;
    display: flex;
}

/* I knew I was going to only use one h1 header so that's why I made a general h1 selection. Set margin-bottom to 0px because i wanted to decrease the space between h1 and p. */
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    font-family: lora-bolditalic;
    margin-bottom: 0px;
}

/* advanced selector i got from a CSS zero to hero video. since there was only one h1 i used a more general advanced selector. Every p tag followed by a h1 was to get a size of 18px and color. */
h1 + p {
    font-size: 18px;
    color: #e5e7eb;
}

/* same argument about h2. There was only one h2 selector. margin: 5vh 0vw to provide more space between header and products. */
h2 {
    margin: 5vh 0vw;
    font-family: lora-bold;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

/* margin set to 0 to decrease the space between h4 and paragraph */
h4 {
    margin: 0px;
}

/* paragraph still had a margin that was separating h4 (margin collapsing). This was to fix that */
h4 + p {
    margin: 0px;
}

/* set height and width. border-radius:8px 8px; for a rounded corner look. */
button {
    height: 30px;
    width: 100px;
    border-radius: 8px 8px;
    background: #3882F6;
    font-weight: 700;
    color: #f9faf8;
    border: #f9faf8 solid 1px;
}

/* navigation was set to flex to line up logo and links. justify-content: space-between; to separate logo and navigation links. flex-wrap: wrap so when page to minimized the navigation links go to the next line.*/
.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* top and left margins were added to provide space from the edge. 100px gap to provide space from individual links. Put these in a flex so i can use flex wrap for web responsivevness. */
.links.nav {
    margin: 40px 50px 0px 50px;
    gap: 100px;
    display:flex;
    flex-wrap: wrap;
}

/* display:flex to line up main/secondary/button and img. gap of 100px to provide space from the two. Flex wrap added. */
.top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    flex-wrap: wrap;
}

/* a separate flex container inside .top. Flex column to to stack main/secondary text and button. Width was added to condense the words. */
.top.main-text {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 0px;
}

/* one of the best take aways from this section was adding a box shadow. It made the image more dynamic that gave floating effect above the page. border-radius: 4px for rounded corners.*/
.top img {
    height: 300px;
    width: auto;
    margin-top: 4vh;
    box-shadow: 20px 30px 50px rgba(0,0,0,.5);
    border-radius: 4px;
}

/* information container is a flexbox containing the products. Display:flex to line up products into a row. gap:100px; to separate each product. */
.information {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

/* product imgs/text were set to flex column and centered with each other. */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
}

/* more advanced selectors I got from the CSS zero to hero video. this means every p that is in .products get separated get a margin-top: 50px; meant to give space between text and imgs. */
.products > p {
    margin-top: 50px;
}

/* border-radius for rounded corners and more box-shadows. */
.main-img {
    height: 350px;
    width: 480px;
    border: #8fb478 5px solid;
    border-radius: 15px 15px;
    box-shadow: 20px 20px 30px rgba(0,0,0,.3);
    border-radius: 4px;
}

/* had to play around with the quote to get it just right. display:flex column to stack the quote and author and centered. I felt like there was a flex:wrap shouldve been utilized and couldnt figure it out but this works too.*/
.quote {
    width: 100vw;
    height: 50vh;
    margin: 5vh 0vw 5vh;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* margin to separate sign-up-container from the quote container*/
.sign-up-container {
    margin: 5vh 0vw 10vh;
}

/* action container has contains text and button. centered the items and used space-around to separate text from button while still giving space on the left and right side of the contents. Linear gradients was used again because using just one color looks outdated. */
.action-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right, #3882F6, #3173E6, #2968D4, #225DC4, #1D56B9, #124BAE);
    width: 50vw;
    color: #f9faf8;
    border-radius: 10px 10px;
    padding: 50px 50px;
    flex: 1;
    
}

/* action container set to flex column to stack text. when page minimize button would glitch out. flex:1 solved this issue. */
.action {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#logo {
    margin-top: 20px;
    height: 60px;
    width: 320px;
}

/* used border-box to get an exact size of the quote. I shrinked the height and width to get the desired affect of a flex-wrap. I cant figure that thing out at the moment. */
#spirit {
    box-sizing: border-box;
    font-size: 36px;
    font-family: lora-italic;
    font-weight: 100;
    width: 860px;
    height: 180px;
    margin: 0px;
    color: #1f2937;
}

/* align-self: flex-end to push the author to the right and aligned to quote with a margin property. */
#lu {
    font-size: 26px;
    font-family: lora-bold;
    margin: 0vh 25vw 0vh 0vh;
    align-self: flex-end; 
    color: #1f2937;
}

#cost {
    font-family: lora-italic;
}