@font-face {
    font-family: lora-regular;
    src: url(/fonts/Lora/static/Lora-Regular.ttf);
}

@font-face {
    font-family: lora-bolditalic;
    src: url(/fonts/Lora/static/Lora-BoldItalic.ttf);
}

@font-face {
    font-family: lora-italic;
    src: url(/fonts/Lora/Lora-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: lora-bold;
    src: url(/fonts/Lora/static/Lora-Bold.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family: lora-regular, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    background: linear-gradient(to bottom right, #618d56, #709a61, #82a96e, #8fb478, #92b67a, #97ba7e, #9bbe82, #a3c587, #b0d091, #b8d697, #b9d798, #cae6a5);
    padding-bottom: 5vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 20px;
}

ul {
    list-style: none;
    display: flex;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    font-family: lora-bolditalic;
    margin-bottom: 0px;
}

h1 + p {
    font-size: 18px;
    color: #e5e7eb;
}

h2 {
    margin: 5vh 0vw;
    font-family: lora-bold;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 8px 8px;
    background: #3882F6;
    font-weight: 700;
    color: #f9faf8;
    border: #f9faf8 solid 1px;
}


.navigation {
    display: flex;
    justify-content: space-between;
}

.links.nav {
    margin: 40px 50px 0px 0px;
    gap: 100px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

.top.main-text {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 0px;
}

.top img {
    height: 300px;
    width: auto;
    margin-top: 4vh;
    box-shadow: 20px 30px 50px rgba(0,0,0,.5);
    border-radius: 4px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
}

.products > p {
    margin-top: 50px;
}

.main-img {
    height: 280px;
    width: 300px;
    border: #8fb478 5px solid;
    border-radius: 15px 15px;
    box-shadow: 20px 20px 30px rgba(0,0,0,.3);
    border-radius: 4px;
}

.quote {
    width: 100vw;
    height: 50vh;
    margin: 10vh 0vw 5vh;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0vw 10vh;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882F6;
    width: 50vw;
}

.action {
    display: flex;
    flex-direction: column;
}

#logo {
    margin-top: 20px;
    height: 60px;
    width: 320px;
}

#spirit {
    box-sizing: border-box;
    font-size: 36px;
    font-family: lora-italic;
    font-weight: 100;
    width: 860px;
    height: 180px;
    margin: 0px;
}

#lu {
    font-size: 26px;
    font-family: lora-bold;
    margin: 0vh 25vw 0vh 0vh;
    align-self: flex-end; 
}